.digital-product {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.05em;
  line-height: 140%;
  font-weight: 500;
}
.development-agency,
.global-development-company {
  align-self: stretch;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.development-agency {
  font-size: 57px;
  line-height: 65px;
  height: 80px;
}
.global-development-company {
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
  line-height: 140%;
  color: var(--black);
  height: 100px;
}
.streamlinecomputer-webcam-vid-icon {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.schedule-a-call1 {
  position: relative;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  width: 133.3px;
  height: 22px;
  flex-shrink: 0;
}

.header-content,
.schedule-a-call,
.schedule-reframe {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.schedule-a-call {
  border-radius: var(--br-7xs);
  background-color: var(--azure-radiance-600);
  box-shadow: 0 2px 6px rgba(16, 24, 40, 0.25);
  flex-direction: row;
  padding: var(--padding-xs) 32px;
  gap: var(--gap-12xs);
}

.hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.header-image {
  position: absolute;
  height: 5.13%;
  width: 40.68%;
  top: 2.73%;
  right: 6.56%;
  bottom: 92.14%;
  left: 52.76%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}

.hero__img {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}

.hero__subtitle {
  color: var(--clr-slate800);
  font-size: var(--size-base);
  line-height: 0.9;
}

.hero__title {
  color: var(--clr-slate400);
  text-transform: uppercase;
  font-size: var(--size-4xl);
  letter-spacing: -0.05em;
  line-height: 0.9;
}

.hero__description {
  max-width: 60ch;
  font-size: var(--size-sm);
  color: var(--clr-slate600);
}

.hero__btn {
  text-transform: capitalize;
  font-size: var(--size-sm);
}

/* xs */
@media (min-width: 475px) {
  .hero {
    gap: 1.5rem;
  }

  .hero__img {
    width: 6.5rem;
    height: 6.5rem;
  }

  .hero__subtitle {
    font-size: var(--size-lg);
  }

  .hero__title {
    font-size: var(--size-5xl);
  }

  .hero__description {
    font-size: var(--size-base);
  }

  .hero__btn {
    font-size: var(--size-base);
  }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .hero__img {
    width: 8rem;
    height: 8rem;
  }

  .hero__subtitle {
    font-size: var(--size-2xl);
  }

  .hero__title {
    font-size: var(--size-7xl);
  }

  .hero__description {
    font-size: var(--size-lg);
  }

  .hero__btn {
    font-size: var(--size-lg);
  }
}

/* xl */
@media (min-width: 1280px) {
  .hero {
    gap: 2rem;
  }

  .hero__img {
    width: 10rem;
    height: 10rem;
  }

  .hero__subtitle {
    font-size: var(--size-4xl);
  }

  .hero__title {
    font-size: var(--size-9xl);
  }

  .hero__description {
    font-size: var(--size-xl);
  }

  .hero__btn {
    font-size: var(--size-xl);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
